body {
  background-color: #2C285B;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 25 px;
    color: #FFFFFF;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

/* Titles */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
}

h7{
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
}

h8{
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #FFFFFF;
}

h9{
    font-family: 'Oswald', sans-serif;
    color: #CBD55A;
    font-size: 25px
}

h10{
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    font-weight: 300;
    font-size: 30px;
}
/* Paragraph & Typographic */

p {
    line-height: 30px;
    margin-bottom: 25px;
    
}

.centered {
    text-align: center;
}

/* Links */
a {
    color: #CBD55A;
    font-size: 30px;
    word-wrap: break-word;
    font-family: 'Roboto', sans-serif;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #61B7A1;
    text-decoration: none;
    outline: 1;
}



a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.logo {
	text-align: center;
	margin-top: 25px;
}

h1 {
	font-size: 70px;
}

.w {
	margin-top: 60px;
}
.w i {
	font-size: 26px;
	padding: 12px;
}


.follow {
  width: 42px;
  height: 42px;
  border-radius: 50px;
  background: #03A9F4;
  display: inline-block;
  margin: 50px calc(50% - 19px);
  white-space: nowrap;
  padding: 13px;
  box-sizing: border-box;
  color: $paper;
  transition: all 0.2s ease;
  font-family: Roboto, sans-serif;
  text-decoration: none;
  box-shadow: 0 5px 6px 0 rgba(0,0,0,0.2);
  i {
    margin-right: 20px;
    transition: margin-right 0.2s ease;
    color: white;
  }
  &:hover {
    width: 134px;
    transform: translateX(-50px);
    i {
      margin-right: 10px;
    }
  }
}