<!DOCTYPE html>
{% load staticfiles %}


<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Title of site -->
    <title>Yakov Leonov</title>

    <!-- Bootstrap core CSS -->
    
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">

    <!-- Custom styles for websites -->
   
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

  
  </head>

  <body>

    <div class="container">

        <!-- Personal Logo -->
    	<div class="logo">
	    	 <img src="{%static "img/logo.png" %}" width ="100" />
    	</div>
		<div class="row centered">
			<div class="col-lg-8 col-lg-offset-2 w">
				
                <!-- Big Header -->
                <h1>Yakov Leonov<br/></h1>
			</div>
		</div>
        
        <!-- Social Media Links--> 
		<div class="row centered">
			<div class="col-lg-10 col-lg-offset-1 w tooltip-demo"></h1>
				<a data-toggle="tooltip" title="Github" href="https://github.com/bruute"<i class="fa fa-github"></i>	</a>		
				
				&nbsp;&nbsp;&nbsp;&nbsp;
				
				<a data-toggle="tooltip" title="Resumé" href="https://drive.google.com/file/d/0B9BhTmUK-pBJQ1oxMjgzYjZka1k/view?usp=sharing"<i class="fa fa-file-text"></i></a>
				
				&nbsp;

				<a data-toggle="tooltip" title="LinkedIn" href="https://www.linkedin.com/in/yakovleonov"><i class="fa fa-linkedin"></i></a>

                &nbsp;

				<a data-toggle="tooltip" title="Flickr" href="https://www.flickr.com/photos/bruute"<i class="fa fa-camera-retro"></i></a>

			</div>


		</div>
    </div>

    <!-- /.container -->
    
    <div class="container">
    	<div class="row w centered">
    		<br>		
    		<div class="col-lg-6 col-lg-offset-3">

                <!-- Description -->
    			<p>Brooklynite, programmer, <a href="https://RhythmInMotion.biz"> DeeJay</a> and breakfast aficionado.</p>
                <br>
                <br>
                <hr>
                
                 {% for post in posts %}
                <div>
                    <h2>{{ post.title }}</a></h2>
                    <p><h8>{{ post.text|linebreaks }}</h8></p>
                    <p><h6>published: {{ post.published_date }}</h6></p>
                    <hr>
                </div>
            {% endfor %}    

    		</div>
    	</div>
    </div>

<footer>
 
  <br>
  <h7><center> Created by: Yakov Leonov </center></h7>
  <h7><center> Tasty Animals Go Extinct </center></h7>
  <br>

</footer>

    <!-- Bootstrap core JavaScript -->

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>

    <script>
    $('.tooltip-demo').tooltip({
      selector: "[data-toggle=tooltip]",
      container: "body"
    })
	</script>


    <!--BACKSTRETCH-->
    <script type="text/javascript" src="static/js/jquery.backstretch.min.js"></script>
    <script>

        $.backstretch("{%static "img/bg.png" %}", {speed: 500});
    </script>

  </body>
</html>
